/*-- scss:defaults --*/

/* FT-Inspired Colors */
$body-bg: #FFF9F5;
$body-color: #33302E;
$link-color: #0D7680;
$link-hover-color: #66605C;

/* FT-Inspired Typography */
$font-family-sans-serif: Georgia, serif;
$headings-font-family: Georgia, serif;
$headings-color: #33302E;

/* Header accents */
$border-color: #FFE4D6;