/* FT-Inspired Background and Header Colors Only */

/* Background color */
body {
  background-color: #FFF9F5;
}

/* Header colors */
h1 {
  color: #33302E;
  border-bottom: 3px solid #FFE4D6;
}

h2 {
  color: #66605C;
  border-bottom: 1px solid #E6E6E6;
}

h3 {
  color: #0D7680;
}